* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --color-primary:#3CEB97;
  --color-secondary: white;
  --color-black: black;
  --color-bluemarina:#65D6D4;
  --color-lightprimary: #82d6ae;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  display: inline-flexbox;
  flex-direction: column;
  row-gap: 0;
  color: lightgray;
  padding: 1rem;
  transition: all 0.5s ease-in-out;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

.maintitle {
  display: flex;
  justify-content: center;
  height: 200px;
  width: 100%;
  background-color: var(--color-primary);
  overflow: hidden;
}

header {
  display: flex;
  align-items: center;
}
header h1 {
  text-align: center;
  color: black;
  font-size: 3rem;
}

section {
  min-width: 0;
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  top: 0;
  padding: 1rem 5rem;
}

.section {
  transform: translateY(-100%) scale(0);
  transition: all 0.4s ease-in-out;
  background-color: lightgray;
}

.sec1 {
  display: none;
  flex-direction: row;
  min-height: 100vh;
  transform: translateY(0) scale(1);
}

.sec2 {
  display: none;
  min-height: 100vh;
  transform: translateY(0) scale(1);
}

.sec3 {
  display: none;
  min-height: 100vh;
  transform: translateY(0) scale(1);
}

.sec4 {
  display: none;
  min-height: 100vh;
  transform: translateY(0) scale(1);
}

.sec5 {
  display: none;
  min-height: 100vh;
  transform: translateY(0) scale(1);
}

.sec6 {
  display: none;
  min-height: 100vh;
  transform: translateY(0) scale(1);
}

.active {
  display: block;
}

iframe {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/*home page*/
.maintext {
  display: flex;
  justify-content: center;
  transform: translate(-50% -50%);
  padding-top: 1rem;
}
.maintext .icone {
  transform: translate(-50% -50%);
  height: 300px;
  width: 400px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: none;
}

.mainh2 {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.title {
  padding-top: 1rem;
  margin-right: 25%;
  transform: translate(-50% 50%);
  color: black;
}

/*Site*/
.container {
  display: grid;
  grid-template-columns: 30% 70%;
  gap: 2rem;
  height: 100%;
  padding-top: 10px;
}
.container .left-site-container {
  display: flex;
  position: relative;
  margin-left: 0;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
.container .left-site-container .icone2 {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: contain;
  background-color: #65D6D4;
}
.container .right-site-container {
  display: block;
  padding-left: 1rem;
  padding-right: 35px;
  color: black;
}
.container .right-site-container h2 {
  text-align: center;
  margin-bottom: 1rem;
}
.container .right-site-container p {
  text-align: justify;
  margin-bottom: 1rem;
}

/*Dicas*/
.container-dicas {
  display: grid;
  grid-template-columns: 70% 30%;
}
.container-dicas .left-container-dicas {
  display: block;
  margin-right: 10px;
}
.container-dicas .left-container-dicas h2 {
  text-align: center;
}
.container-dicas .left-container-dicas p {
  text-align: justify;
}
.container-dicas .right-container-dicas {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  height: 49%;
  margin-top: 30%;
}
.container-dicas .right-container-dicas .icone2 {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: contain;
}

/*Templates*/
.template-text {
  padding: 3rem 0;
  text-align: center;
}

.templates-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  columns: wrap-reverse;
  grid-gap: 2rem;
  margin-top: 3rem;
}
.templates-container .templates-items {
  position: relative;
  border-radius: 10%;
}
.templates-container .templates-items img {
  background-color: white;
  width: 90%;
  height: 400%;
  border-radius: 15px;
}
.templates-container .templates-items img .img {
  object-fit: cover;
}
.templates-container .templates-items .hover-items {
  width: 90%;
  height: 100%;
  background-color: var(--color-lightprimary);
  opacity: 0.5;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transform: scale(0);
  transition: all 0.4s ease-in-out;
}
.templates-container .templates-items .hover-items h3 {
  font-size: 1.5rem;
  color: var(--color-grey3);
  margin-bottom: 1.5rem;
}
.templates-container .templates-items .hover-items .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-grey3);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 0 1rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.templates-container .templates-items .hover-items .icons i {
  font-size: 1.5rem;
  color: black;
  margin: 1.5rem;
}
.templates-container .templates-items .hover-items .icons:hover {
  background-color: var(--color-bluemarina);
  opacity: 1;
}
.templates-container .templates-items .hover-items .icons:hover i {
  color: black;
}

.templates-items:hover .hover-items {
  opacity: 1;
  transform: scale(1);
}

/*Criar*/
.criar-container {
  display: grid;
  grid-template-columns: 45% 60%;
  grid-template-areas: "header" "left-criar-container" "right-criar-container";
  height: 100%;
  padding: 5% 1%;
}
.criar-container input {
  padding-left: 0.5rem;
  margin: 2px;
  border-radius: 5px;
  background-color: white;
}
.criar-container textarea {
  padding-left: 0.5rem;
}

/* Projeto*/
/* template html */
.temp {
  background-color: lightgray;
  font-family: "Inter", sans-serif;
  float: left;
}

.criar-container {
  display: grid;
  grid-template-columns: 50% 55%;
}
.criar-container .left-criar-container {
  background-color: var(--color-primary);
  margin-right: 2rem;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
}

.criar-container .right-criar-container{
  background-color: white;
}

.criar-container .right-criar-container table{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 20px;
}
.criar-container .right-criar-container .h2-titulos{
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: darkgrey;
  color: white ;
}
.criar-container .right-criar-container span{
  padding: 5px;
}
.criar-container .right-criar-container .tituloCurriculo {
  display: flex;
  justify-content: center;
}

/*inputs*/
.inputh2 {
  font-size: 1rem;
  color: black;
  padding: 0.5rem;
}

button {
  width: 92%;
  border-radius: 5px;
}
button:hover {
  background-color: aquamarine;
}

.controls {
  display: flex;
  position: absolute;
  top: 20%;
  right: 37%;
  text-align: center;
  color: var(--color-black);
}
.controls span {
  display: none;
}
.controls .active-btn {
  background-color: var(--color-bluemarina) !important;
  transition: all 0.4s ease-in-out;
  border-radius: 50%;
}
.controls .active-btn span {
  display: flex;
  font-family: inherit;
  font-size: 1rem;
  font-weight: bold;
}
.controls .active-btn i {
  display: none;
}
.controls .control {
  padding: 0.5rem;
  cursor: pointer;
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  border-radius: 10%;
  display: flex;
  margin: 0.8rem;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
}
.controls .control i {
  font-size: 1rem;
  color: var(--color-black);
  pointer-events: none;
  margin: 0.5rem;
}
.controls .control:hover {
  display: block;
  background-color: #65D6D4;
  transition: all 0.5s ease-in-out;
}
.controls .control:hover i {
  transform: translatey(-50%);
  transition: all 0.5s ease-in;
}
.controls ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.controls #hamburguer-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}
.controls #hamburguer-icon {
  width: 35px;
  height: 3px;
  background-color: red;
  margin: 6px 0;
  transition: 0.4s;
}
.controls .open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}
.controls .open .bar2 {
  opacity: 0;
}
.controls .open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, 8px);
  transform: rotate(45deg) translate(-6px, 8px);
}
.controls .open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.controls .mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .controls .html-menu {
    display: none;
  }
  nav #hamburguer-icon {
    display: flex;
  }
}